@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.search-container {
  padding: 50px;
  background-color: #ffdd03;
  margin-bottom: 40px;
}

.search {
  -webkit-appearance: none;
  background-color: #0a0a0a;
  border: none;
  border-bottom: 4px solid #ffffff;
  outline: none;
  padding: 10px;
  width: 700px;
  height: 100px;
  line-height: 30px;
}

.search {
  padding-left: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
}

.search:focus {
  border-bottom: 4px solid #2980b9;
}